
@{
    ViewBag.Title = "HTML Execution Result";
}
<html>
<body>
    @Html.ActionLink("Quay lại", "ExecutionResult", "Code")
    <div>
        <h2 class="mb-2" style="text-align:center;">HTML Execution Result</h2>
        <div id="htmlResult" style="max-width: 80%; margin: auto; box-shadow: 2px 8px 16px rgb(153 50 204);">
            @Html.Raw(ViewBag.HtmlContent)<!-- Hiển thị mã HTML -->
        </div>
    </div>
</body>
</html>